<!doctype html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Kutuphanem</title>
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <meta name="description" content="Spring Boot, JPA - Hibernate, Thymeleaf, H2 Database, Bootstrap kullanarak geliştirmiş olduğum kütüphane örnek uygulama." />
    <meta name="keywords" content="spring, spring boot, jpa, hibernate, html, thymeleaf, h1, database, java, programlama, yazılım, geliştirme, örnek uygulama">
  	<meta name="author" content="halil aydın">
  	
  	<meta http-equiv="refresh" content="150">
	
	<!-- CSS -->
	<link th:href="@{/css/style.css}" rel="stylesheet" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        
</head>

<body>

	<div class="container-fluid h-100">
		<div class="row">
			<nav class="navbar navbar-expand-lg navbar-light w-100"
				style="background-color: #e3f2fd;">
				<a class="navbar-brand" href="/">Kütüphanem</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item"><a class="nav-link" href="/">Anasayfa<span
								class="sr-only">(current)</span></a></li>

						<li class="nav-item active dropdown"><a
							class="nav-link dropdown-toggle" href="#"
							id="navbarDropdownKitap" role="button" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">Kitap</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdownKitap">
								<a class="dropdown-item" href="/kitap/liste">Kitaplar</a> <a
									class="dropdown-item" href="/kitap/ekle">Kitap Ekle</a>
							</div></li>

						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" href="#"
							id="navbarDropdownYazar" role="button" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">Yazar</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdownYazar">
								<a class="dropdown-item" href="/yazar/liste">Yazarlar</a> <a
									class="dropdown-item" href="/yazar/ekle">Yazar Ekle</a>
							</div></li>

						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" href="#"
							id="navbarDropdownYayinevi" role="button" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">Yayinevi</a>
							<div class="dropdown-menu"
								aria-labelledby="navbarDropdownYayinevi">
								<a class="dropdown-item" href="/yayinevi/liste">Yayinevleri</a>
								<a class="dropdown-item" href="/yayinevi/ekle">Yayinevi Ekle</a>
							</div></li>

					</ul>
					<form class="form-inline my-2 my-lg-0" action="/arama">
						<input class="form-control mr-sm-2" type="search" size="23"
							name="q" required placeholder="Kitap - Seri - Yazar - ISBN"
							aria-label="Search">
						<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Ara</button>
					</form>
				</div>
			</nav>
		</div>




		<div class="row pt-4">

			<div class="col-12 col-lg-6">

				<form th:object="${kitap}" method="post" action="#" th:action="@{/kitap/ekle}">
					<div class="form-group">
						<label for="kitapAd">Kitap Adı *</label> 
						<input type="text" class="form-control" id="kitapAd" th:field="*{ad}" required="required">
						<span class="text-danger" th:if="${#fields.hasErrors('ad')}" th:errors="*{ad}"></span>
						<script th:if="${#fields.hasErrors('ad')}" type="text/javascript">
							document.getElementById("kitapAd").classList.add("is-invalid");
						</script>
					</div>
					
					<div class="form-group">
						<label for="kitapAltAd">Kitap Alt Adı</label>
						<input type="text" class="form-control" id="kitapAltAd" th:field="*{altAdi}">
						<span th:if="${#fields.hasErrors('altAdi')}" th:errors="*{altAdi}" class="text-danger">altAdi Hata</span>
						<script th:if="${#fields.hasErrors('altAdi')}" type="text/javascript">
							document.getElementById("kitapAltAd").classList.add("is-invalid");
						</script>
					</div>
					
					<div class="form-group">
						<label for="kitapSeri">Seri</label>
						<input type="text" class="form-control" id="kitapSeri" th:field="*{seriAdi}">
						<span th:if="${#fields.hasErrors('seriAdi')}" th:errors="*{seriAdi}" class="text-danger">seriAdi Hata</span>
						<script th:if="${#fields.hasErrors('seriAdi')}" type="text/javascript">
							document.getElementById("kitapSeri").classList.add("is-invalid");
						</script>
					</div>
					
					<div class="form-group">
						<label for="yazarlar">Yazar</label>
						<select class="form-control text-capitalize" id="yazarlar" th:field="*{yazar}">

							<option th:each="yazar : ${listeYazar}" th:value="${yazar.id}" th:utext="${yazar.ad}" />

						</select>
					</div>
					
					<div class="form-group">
						<label for="yayinevleri">Yayınevi</label>
						<select class="form-control text-capitalize" id="yayinevleri" th:field="*{yayinevi}">

							<option th:each="yayinevi : ${listeYayinevi}" th:value="${yayinevi.id}" th:utext="${yayinevi.ad}" />

						</select>
					</div>
					
					<div class="form-group">
						<label for="kitapISBN">ISBN *</label>
						<input class="form-control" id="kitapISBN" th:field="*{isbn}" required="required"></input>
						<span th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}" class="text-danger">isbn Hata</span>
						<script th:if="${#fields.hasErrors('isbn')}" type="text/javascript">
							document.getElementById("kitapISBN").classList.add("is-invalid");
						</script>
					</div>
					
					<div class="form-group">
						<label for="kitapAciklama">Açıklama</label>
						<textarea class="form-control" id="kitapAciklama" rows="3" th:field="*{aciklama}"></textarea>
						<span th:if="${#fields.hasErrors('aciklama')}" th:errors="*{aciklama}" class="text-danger">aciklama Hata</span>
						<script th:if="${#fields.hasErrors('aciklama')}" type="text/javascript">
							document.getElementById("kitapAciklama").classList.add("is-invalid");
						</script>
					</div>
					
					<div class="form-group">
						<input type="hidden" th:field="*{id}" id="kitapId">
						<button class="form-control btn btn-success" type="submit" >Ekle</button>
					</div>
				</form>

			</div>

		</div>

	</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>