<!doctype html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Kutuphanem</title>
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <meta name="description" content="Spring Boot, JPA - Hibernate, Thymeleaf, H2 Database, Bootstrap kullanarak geliştirmiş olduğum kütüphane örnek uygulama." />
    <meta name="keywords" content="spring, spring boot, jpa, hibernate, html, thymeleaf, h1, database, java, programlama, yazılım, geliştirme, örnek uygulama">
  	<meta name="author" content="halil aydın">
  	
  	<meta http-equiv="refresh" content="150">
	
	<!-- CSS -->
	<link th:href="@{/css/style.css}" rel="stylesheet" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        
</head>

<body>

    <div class="page-wrap d-flex flex-row align-items-center h-100 justify-content-center">
	    <div class="container">
	        <div class="row justify-content-center">
	            <div class="col-md-12 text-center">
	                <span class="display-1 d-block">404</span>
	                <div class="mb-4 lead">Aradığınız sayfayı bulamadık.</div>
	                <a href="/anasayfa" class="btn btn-link">Anasayfa Dön</a>
	            </div>
	        </div>
	    </div>
	</div>


<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>