<!doctype html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Kutuphanem</title>
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <meta name="description" content="Spring Boot, JPA - Hibernate, Thymeleaf, H2 Database, Bootstrap kullanarak geliştirmiş olduğum kütüphane örnek uygulama." />
    <meta name="keywords" content="spring, spring boot, jpa, hibernate, html, thymeleaf, h1, database, java, programlama, yazılım, geliştirme, örnek uygulama">
  	<meta name="author" content="halil aydın">
  	
  	<meta http-equiv="refresh" content="150">
	
	<!-- CSS -->
	<link th:href="@{/css/style.css}" rel="stylesheet" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        
</head>

<body>

	<div class="container-fluid h-100">
		<div class="row">
			<nav class="navbar navbar-expand-lg navbar-light w-100"
				style="background-color: #e3f2fd;">
				<a class="navbar-brand" href="/">Kütüphanem</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item"><a class="nav-link" href="/">Anasayfa<span
								class="sr-only">(current)</span></a></li>

						<li class="nav-item active dropdown"><a
							class="nav-link dropdown-toggle" href="#"
							id="navbarDropdownKitap" role="button" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">Kitap</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdownKitap">
								<a class="dropdown-item" href="/kitap/liste">Kitaplar</a> <a
									class="dropdown-item" href="/kitap/ekle">Kitap Ekle</a>
							</div></li>

						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" href="#"
							id="navbarDropdownYazar" role="button" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">Yazar</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdownYazar">
								<a class="dropdown-item" href="/yazar/liste">Yazarlar</a> <a
									class="dropdown-item" href="/yazar/ekle">Yazar Ekle</a>
							</div></li>

						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" href="#"
							id="navbarDropdownYayinevi" role="button" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">Yayinevi</a>
							<div class="dropdown-menu"
								aria-labelledby="navbarDropdownYayinevi">
								<a class="dropdown-item" href="/yayinevi/liste">Yayinevleri</a>
								<a class="dropdown-item" href="/yayinevi/ekle">Yayinevi Ekle</a>
							</div></li>

					</ul>
					<form class="form-inline my-2 my-lg-0" action="/arama">
						<input class="form-control mr-sm-2" type="search" size="23"
							name="q" required placeholder="Kitap - Seri - Yazar - ISBN"
							aria-label="Search">
						<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Ara</button>
					</form>
				</div>
			</nav>
		</div>

		<div class="row pt-4 px-3">
			
			<table class="table table-bordered text-capitalize">
                <thead>
                    <tr>
                        <th colspan="2">Kitap Detay</th>
                    </tr>
                </thead>
                <tbody th:if="${kitap != null}">
                    <tr>
                    	<td class="w-25">Kitap Adı</td>
                    	<td><span th:text="${kitap.ad}"> Kitap Adı </span></td>
                    </tr>
                    <tr>
                    	<td class="w-25">Alt Adı</td>
                    	<td><span th:text="${kitap.altAdi}"> altAdi </span></td>
                    </tr>
                    <tr>
                    	<td class="w-25">Seri</td>
                    	<td><span th:text="${kitap.seriAdi}"> seriAdi </span></td>
                    </tr>
                    <tr>
                    	<td class="w-25">İSBN</td>
                    	<td><span th:text="${kitap.isbn}"> isbn </span></td>
                    </tr>
                    <tr>
                    	<td class="w-25">Yazar</td>
                    	<td>
                    		<a class="text-dark" th:href="@{'/yazar/' +${kitap.yazar.id}}">
                    			<span th:text="${kitap.yazar.ad}"> yazar </span>
                    		</a>
                    	</td>
                    </tr>
                    <tr>
                    	<td class="w-25">Yayınevi</td>
                    	<td>
                    		<a class="text-dark" th:href="@{'/yayinevi/' +${kitap.yayinevi.id}}">
                    			<span th:text="${kitap.yayinevi.ad}"> yayinevi </span>
                    		</a>
                    	</td>
                    </tr>
                    <tr>
                    	<td class="w-25">Açıklama</td>
                    	<td><span th:text="${kitap.aciklama}"> aciklama </span></td>
                    </tr>
                    <tr>
                    	<td colspan="2">
		                	<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">Sil</button>
							<a th:href="@{'/kitap/duzenle/' +${kitap.id}}" class="btn btn-primary">Düzenle</a>	
                        </td>
                    </tr>
                </tbody>
                <tbody th:if="${kitap == null}">
                	<tr>
                    	<td colspan="2">
                    		<span class="text-danger">Kitap Bulunamadı...</span>
                    	</td>
                    </tr>
                </tbody>
            </table>

		</div>

	</div>


	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" th:if="${kitap != null}">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title text-danger" id="exampleModalLabel">Sil</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <h4 class="lead">
	        	<span th:text="${kitap.ad}" class="font-weight-bold text-capitalize"></span> silinsin mi ?
	        </h4>
	      </div>
	      <div class="modal-footer">
	      	<form action="#" th:action="@{/kitap/sil(idSil=${kitap.id})}" th:method="delete" class="d-inline-block" >
				<button type="submit" class="btn btn-danger">Evet</button>
			</form>
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
	      </div>
	    </div>
	  </div>
	</div>

<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>